.header__digital {
  width: 100vw;
  height: 90vh;
  background-image: url('../../assets/img/header_digital.png');
  background-size: 100vw 90vh;
}

.header__text--digital {
  margin-left: 7vw;
  font-size: 18px;
  font-style: italic;
  color: white;
  margin-top: 4vh;
  width: 67vw;
  line-height: 2.4rem;
}

.digital__know {
  font-size: 33px;
  font-weight: bolder;
  text-align: center;
  margin-top: 30vh;
  color: #152A45;
}

.know__picture {
  width: 15vw;
  margin-left: 42.5vw;
  margin-top: 5.5vh;
}

.know__text {
  font-size: 18px;
  font-weight: lighter;
  line-height: 2.5rem;
  color: #8E8B8B;
  text-align: center;
  margin-top: 4vh;
  width: 75vw;
  margin-left: 12.5vw;
}

.screen__dashboard {
  width: 73vw;
  height: 73vh;
  background-image: url('../../assets/img/ecran_dashboard.png');
  background-size: 73vw 73vh;
  background-repeat: no-repeat;
  margin-top: 17vh;
  margin-left: 13.5vw;
  -moz-box-shadow: 0px 1px 25px #eaeaea;
  -webkit-box-shadow: 0px 1px 25px #eaeaea;
  box-shadow: 0px 1px 25px #eaeaea;
}

.screen__filter {
  position: absolute;
  width: 73vw;
  height: 73vh;
  left: 13.45vw;
  top: 107vh;
  background-color: rgba(21, 42, 69, .8);
  opacity: 0;
  transition: .5s ease-in-out;
}

.screen__button {
  display: none;
}

.screen__button--hover {
    height: 6vh;
    width: 20vw;
    font-size: 16px;
    font-weight: bolder;
    color: #575757;
    background-color: white;
    border: solid 2px;
    border-image-source: linear-gradient(320deg, rgb(251, 18, 190), rgb(251, 18, 190), rgb(96, 157, 229), rgb(51, 249, 240), rgb(176, 220, 122), rgb(253, 216, 106), rgb(253, 216, 106));
    border-image-slice: 1;
    position: absolute;
    left: 40vw;
    top: 142vh;
    z-index: 5;
}

.slider__puces {
  margin-top: 4vh;
  width: 15vw;
  height: 10vh;
  display: flex;
  align-items: center;
  margin-left: 12.5vw;
}

.slider__puces--home {
  margin-top: 10vh;
  margin-left: 1.5vw;
  width: 15vw;
  height: 10vh;
  display: flex;
  align-items: center;
  float: left;
}

.slider__puces--litle {
  margin-top: 4vh;
  width: 15vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.puce {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #D6D6D6;
  margin-left: 1vw;
  margin-top: -7vh;
}

.puce--active {
  width: 25px;
  height: 15px;
  border-radius: 15px;
  background-color: #101D35;
  margin-left: 1vw;
  margin-top: -7vh;
}

.apprenticeship {
  width: 100vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
}

.apprenticeship__wallets {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.apprenticeship__wallets--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wallet {
  width: 10.917vw;
  height: 19.270401948842874vh;
  border-radius: 5px;
  margin-left: 2vw;
  -moz-box-shadow: 0px 1px 20px #eaeaea;
  -webkit-box-shadow: 0px 1px 20px #eaeaea;
  box-shadow: 0px 1px 20px #eaeaea;
  display: flex;
  color: #152A45;
  transition: .5s ease-in-out;
}

.wallet--first {
  width: 10.917vw;
  height: 19.270401948842874vh;
  border-radius: 5px;
  -moz-box-shadow: 0px 1px 20px #eaeaea;
  -webkit-box-shadow: 0px 1px 20px #eaeaea;
  box-shadow: 0px 1px 20px #eaeaea;
  display: flex;
  color: #152A45;
  transition: .5s ease-in-out;
}

.wallet--active {
  width: 11.5vw;
  height: 22vh;
  background-color: #152A45;
  color: white;
  display: flex;
  border-radius: 5px;
  transition: .5s ease-in-out;
}

.wallet--active--other {
  width: 11.5vw;
  height: 22vh;
  background-color: #152A45;
  color: white;
  margin-left: 2vw;
  display: flex;
  border-radius: 5px;
  transition: .5s ease-in-out;
}

.wallet__text {
  margin: auto;
  text-align: center;
  width: 8vw;
  font-size: 12px;
  font-weight: lighter;
  line-height: 1.5rem;
}

.text--litle {
  width: 5vw;
}

.apprenticeship__text {
  width: 30vw;
  height: 16vh;
  line-height: 2rem;
  font-size: 18px;
  font-weight: bolder;
  background-image: url('../../assets/img/number_four.png');
  background-size: 8vw 16vh;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #152A45;
  padding-top: 4vh;
  margin-left: 4vw;
}

.apprenticeship__text--left {
  width: 34vw;
  height: 16vh;
  line-height: 2rem;
  font-size: 18px;
  font-weight: bolder;
  background-image: url('../../assets/img/number_four.png');
  background-size: 8vw 16vh;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #152A45;
  padding-top: 4vh;
}

.mobile {
  width: 93vw;
  height: 65vh;
  margin-left: 7vw;
  margin-top: 20vh;
  margin-bottom: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mobile__visuel {
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
}

.mobile__picture {
  width: 18vw;
  height: 65vh;
  border-radius: 40px;
  background-color: gold;

}

.mobile__info {
  display: flex;
  flex-direction: column;
}

.mobile__text {
  margin-top: -4vh;
  font-size: 33px;
  font-weight: bolder;
  line-height: 4.2rem;
  width: 45vw;
  color: #152A45;
}

.mobile__button {
  width: 22vw;
  height: 6vh;
  border: solid 2px;
  border-image-source: linear-gradient(350deg, rgb(251, 18, 190), rgb(251, 18, 190), rgb(96, 157, 229), rgb(51, 249, 240), rgb(176, 220, 122), rgb(253, 216, 106), rgb(253, 216, 106));
  border-image-slice: 1;
  font-size: 14px;
  font-weight: bolder;
  margin-top: 6vh;
}

.article {
  width: 100vw;
  height: 35vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.article__card {
  width: 60vw;
  height: 30vh;
  display: flex;
  align-items: center;
}

.card__one {
  width: 23vw;
  height: 27vh;
  display: flex;
  background-image: url('../../assets/img/card_one.png');
  background-size: 23vw 27vh;
  background-repeat: no-repeat;
  border-radius: 7px;
  margin-left: 7vw;
  -moz-box-shadow: 0px 1px 20px #bababa;
  -webkit-box-shadow: 0px 1px 20px #bababa;
  box-shadow: 0px 1px 20px #bababa;
}

.card__two {
  width: 23vw;
  height: 27vh;
  display: flex;
  background-image: url('../../assets/img/card_two.png');
  background-size: 23vw 27vh;
  background-repeat: no-repeat;
  border-radius: 7px;
  margin-left: 2.5vw;
  -moz-box-shadow: 0px 1px 20px #bababa;
  -webkit-box-shadow: 0px 1px 20px #bababa;
  box-shadow: 0px 1px 20px #bababa;
}

.one__text {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: auto;
  text-align: center;
  line-height: 2rem;
  width: 20vw;
}

.article__describe {
  display: flex;
  flex-direction: column;
  width: 35vw;
  text-align: right;
  margin-right: 7vw;
}

.describe__title {
  font-size: 33px;
  font-weight: bolder;
  color: #101D35;
}

.describe__text {
  font-size: 16px;
  font-weight: lighter;
  color: #8E8B8B;
  margin-top: 3vh;
  line-height: 2rem;
}

.describe__button {
  font-size: 14px;
  font-weight: bolder;
  color: white;
  background-color: #26385B;
  width: 15vw;
  height: 5vh;
  margin-top: 2vh;
  margin-left: 20vw;
  border: none;
  border-radius: 2px;
}
