html {
  font-family: 'Circular', sans-sans-serif;
  font-weight: normal;
}

.header__home {
  width: 100vw;
  height: 86vh;
  background-image: url('../../assets/img/waves_blueFilter.png');
  background-repeat: no-repeat;
  background-size: 100vw 86vh;
}

.home__nav {
  display: flex;
}

.header__logo {
  width: 4.5vw;
  height: 5.750vh;
  margin-left: 7vw;
  margin-top: 3vh;
}

.nav__href {
  display: flex;
  margin-left: 4vw;
  font-weight: lighter;
}

.href {
  color: white;
  text-decoration: none;
  margin-left: 7vw;
  margin-top: 4vh;
  font-size: 16px;
}

.nav__connexion {
  width: 13vw;
  height: 4vh;
  margin-left: 18vw;
  margin-top: 3vh;
  background-color: white;
  border: solid 2px;
  border-image-source: linear-gradient(160deg, rgb(253, 216, 106), rgb(253, 216, 106), rgb(176, 220, 122), rgb(51, 249, 240), rgb(96, 157, 229), rgb(251, 18, 190), rgb(251, 18, 190));
  border-image-slice: 1;
}

.language {
  border: none;
  background-color: rgba(255, 255, 255, 0); /* Problème avec Safari lorsque l'on initialise background-color: transparent; solution rgba ne marche pas */
  color: white;
  z-index: 5;
  margin-left: 2vw;
  margin-top: 1vh;
}

.home__brain {
  margin-left: 28vw;
  margin-top: -3vh;
}

.scroll__incitement {
  position: absolute;
  width: 1.2vw;
  top: 75.5vh;
  left: 48.9vw;
  z-index: 4;
}

.header__content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.content__title {
  font-size: 42px;
  width: 40vw;
  margin-top: 35vh;
  margin-left: 30vw;
  font-weight: bolder;
}

.content__text {
  font-size: 16px;
  font-weight: lighter;
  margin-top: 5vh;
  width: 60vw;
  margin-left: 20vw;
}

.help {
  font-size: 44px;
  background-color: white;
  width: 55px;
  height: 55px;
  position: fixed;
  right: 5vw;
  top: 85vh;
  display: flex;
  border-radius: 50%;
  -moz-box-shadow: 0px 1px 5px #979797;
  -webkit-box-shadow: 0px 1px 5px #979797;
  box-shadow: 0px 1px 5px #979797;
  z-index: 10;
}

.help__content {
  margin: auto;
}

.home__wallet {
  width: 100vw;
  height: 71vh;
  margin-top: 13vh;
  display: flex;
}

.wallet {
  width: 40vw;
  height: 69vh;
  border-radius: 0px 0px 6px 6px;
  text-align: center;
  -moz-box-shadow: 0px 0px 25px #979797;
  -webkit-box-shadow: 0px 0px 25px #979797;
  box-shadow: 0px 0px 25px #979797;
}

.wallet--one {
  margin-left: 7vw;
}

.wallet--two {
  margin-left: 3vw;
}

.wallet__image {
  width: 40vw;
}

.wallet__title {
  font-size: 32px;
  position: absolute;
  top: 110vh;
  width: 27vw;
  line-height: 1.3em;
  margin-left: 7vw;
  color: white;
}

.wallet__content {
  margin-top: 4vh;
  line-height: 2em;
  width: 36vw;
  height: 13vh;
  margin-left: 2.25vw;
  font-size: 16px;
  color: #8E8B8B;
}

.content--two {
  margin-top: 4.7vh;
}

.wallet__button {
  background-color: white;
  width: 20vw;
  height: 5vh;
  font-size: 16px;
  border: solid 2px;
  border-image-source: linear-gradient(160deg, rgb(253, 216, 106), rgb(253, 216, 106), rgb(176, 220, 122), rgb(51, 249, 240), rgb(96, 157, 229), rgb(251, 18, 190), rgb(251, 18, 190));
  border-image-slice: 1;
}

.button--one {
  margin-top: 7vh;
}

.button--two {
  margin-top: 7vh;
}

.hook__title {
  margin-top: 10vh;
  margin-left: 20vw;
  font-size: 28px;
  width: 60vw;
  line-height: 1.6em;
  text-align: center;
  font-style: bolder;
}

.hook__important {
  color: #5275B7;
  border-bottom: solid 3px #5275B7;
  padding-bottom: 2px;
}

.home__presentation {
  margin-top: 10vh;
  width: 100vw;
  height: 164vh;
  background-image: url('../../assets/img/background_section.png');
  background-size: 100vw 164vh;
  color: white;
}

.presentiel__title {
  font-size: 36px;
  margin-left: 7vw;
  letter-spacing: 0.6em;
  padding-top: 15vh;
  font-weight: bolder;
}

.presentiel__content {
  margin-left: 7vw;
  margin-top: 4vh;
  width: 56vw;
  line-height: 2em;
  font-size: 20px;
  font-weight: lighter;
}

.presentiel__keywords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8vh;
  margin-left: 4vw;
  width: 45vw;
}

.keyword {
  margin-left: 4vw;
  font-size: 18px;
  font-weight: bolder;
}

.keyword--bottom {
  margin-top: 4vh;
}

.presentiel__button {
  width: 13vw;
  height: 5vh;
  margin-left: 7vw;
  margin-top: 10vh;
  border: none;
  font-size: 14px;
  color: #26395B;
}

.presentiel__picture {
  width: 34.5vw;
  position: absolute;
  right: 0px;
  top: 198vh;
}

.digital__title {
  font-size: 36px;
  font-weight: bolder;
  letter-spacing: 0.6em;
  margin-top: 29vh;
  margin-left: 71vw;
}

.digital__content {
  font-size: 20px;
  font-weight: lighter;
  width: 55vw;
  line-height: 2em;
  margin-left: 38vw;
  margin-top: 5vh;
  text-align: right;
}

.digital__button {
  width: 13vw;
  height: 5vh;
  border: none;
  font-size: 14px;
  margin-top: 22vh;
  margin-left: 80vw;
  color: #26395B;
}

.digital__picture {
  width: 47vw;
  position: absolute;
  top: 300vh;
  left: 7vw;
}

.start__button {
  margin-top: 7vh;
  width: 30vw;
  height: 8vh;
  font-size: 28px;
  font-weight: bolder;
  margin-left: 35vw;
  margin-bottom: 7vh;
  background-color: white;
  border: solid 2px;
  border-image-source: linear-gradient(160deg, rgb(253, 216, 106), rgb(253, 216, 106), rgb(176, 220, 122), rgb(51, 249, 240), rgb(96, 157, 229), rgb(251, 18, 190), rgb(251, 18, 190));
  border-image-slice: 1;
  color: #575757;
}

.home__customer {
  width: 100vw;
  height: 90vh;
  -moz-box-shadow: inset 0px 3px 3px -3px #979797;
  -webkit-box-shadow: inset 0px 3px 3px -3px #979797;
  box-shadow: inset 0px 3px 3px -3px #979797;
}

.home__customer--nsh {
  width: 100vw;
  height: 90vh;
}

.customer__title {
  font-size: 35px;
  font-weight: bolder;
  width: 40vw;
  text-align: center;
  padding-top: 9vh;
  margin-left: 30vw;
  word-spacing: 0.2em;
  line-height: 2em;
}

.customer__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  height: 45vh;
  margin-top: 12vh;
}

.logo__ratio {
  display: flex;
}

.logo {
  width: 9vw;
  margin-left: 9vw;
}

.logo--sncf {
  width: 8vw;
}

.logo--michelin {
  width: 12vw;
  padding-top: 2vh;
}

.logo--bayard {
  width: 9vw;
  margin-top: -1.5vh;
}

.logo--dec {
  padding-top: 0.5vh;
}

.logo--emLyon {
  width: 6vw;
  margin-top: -0.5vh;
}

.logo--cfpc {
  width: 6.5vw;
}

.logo--mairieParis {
  width: 14vw;
  padding-top: 5vh;
}

.logo--iesa {
  width: 8vw;
  padding-top: 3vh;
  margin-left: 8vw;
}

.logo--learnSpace {
  width: 6vw;
  margin-left: 11vw;
  padding-top: 0.5vh;
}

.logo--bambin {
  width: 7vw;
}

.home__contact {
  width: 100vw;
  height: 45vh;
  background-image: url('../../assets/img/background_contact.png');
  background-size: 100vw 45vh;
}

.contact__title {
  font-size: 34px;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding-top: 13vh;
  word-spacing: 0.1em;
}

.contact__boutton {
  margin-top: 10.5vh;
  font-size: 18px;
  width: 17vw;
  height: 5vh;
  border: solid 2px;
  border-image-source: linear-gradient(160deg, rgb(253, 216, 106), rgb(253, 216, 106), rgb(176, 220, 122), rgb(51, 249, 240), rgb(96, 157, 229), rgb(251, 18, 190), rgb(251, 18, 190));
  border-image-slice: 1;
  margin-left: 41.5vw;
}
