.header__presentiel {
  width: 100vw;
  height: 90vh;
  background-image: url('../../assets/img/header_presentiel.png');
  background-size: 100vw 90vh;
}

.header__title {
  font-size: 44px;
  font-weight: bolder;
  letter-spacing: .5rem;
  margin-left: 7vw;
  margin-top: 11.5vh;
  color: white;
}

.header__text {
  margin-left: 7vw;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin-top: 4vh;
  width: 70vw;
  line-height: 2rem;
}

.method__title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 7vh;
  margin-left: 77vw;
  text-shadow: 4px 4px 3px #cdcdcd;
}

.method {
  margin-top: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  margin-left: 17vw;

}

.method__group {
  width: 23vw;
}

.method__number {
  font-size: 100px;
  float: left;
  text-shadow: 4px 4px 3px #cdcdcd;
}

.method__name {
  font-size: 36px;
  font-weight: bold;
  margin-left: 4vw;
  margin-top: 2vh;
  text-shadow: 4px 4px 3px #cdcdcd;
}

.method__text {
  font-size: 18px;
  font-weight: lighter;
  line-height: 2rem;
  margin-left: 4vw;
  margin-top: 2vh;
}

.method--margin {
  margin-left: 5.5vw;
}

.presentiel__coaching {
  margin-top: 31vh;
  margin-left: 7vw;
}

.coaching__title {
  font-size: 38px;
  font-weight: bold;
}

.coaching__text {
  font-size: 22px;
  font-weight: lighter;
  line-height: 2rem;
  margin-top: 5vh;
  width: 50vw;
}

.coaching__picture {
  height: 75vh;
  position: absolute;
  right: 0px;
  top: 105vh;
}

.header__number {
  font-size: 38px;
  font-weight: bold;
  margin-top: 26vh;
  text-align: center;
}

.numbers {
  width: 100vw;
  height: 10vh;
  margin-top: 10vh;
}
