.header__presentiel {
  width: 100vw;
  height: 90vh;
  background-image: url('../../assets/img/header_presentiel.png');
  background-size: 100vw 90vh;
}

.header__title {
  font-size: 44px;
  font-weight: bolder;
  letter-spacing: .5rem;
  margin-left: 7vw;
  margin-top: 11.5vh;
  color: white;
}

.header__text {
  margin-left: 7vw;
  font-size: 20px;
  font-weight: lighter;
  color: white;
  margin-top: 4vh;
  width: 70vw;
  line-height: 2rem;
}

.method__title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 7vh;
  margin-left: 77vw;
  text-shadow: 4px 4px 3px #cdcdcd;
}

.method {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  margin-left: 17vw;
  height: 50vh;

}

.method__group {
  width: 23vw;
}

.method__number {
  font-size: 100px;
  float: left;
  text-shadow: 4px 4px 3px #cdcdcd;
}

.method__name {
  font-size: 36px;
  font-weight: bold;
  margin-left: 4vw;
  margin-top: 2vh;
  text-shadow: 4px 4px 3px #cdcdcd;
}

.method__text {
  font-size: 18px;
  font-weight: lighter;
  line-height: 2rem;
  margin-left: 4vw;
  margin-top: 2vh;
}

.method--margin {
  margin-left: 5.5vw;
}

.anti--float {
  height: 100vh;
}

.presentiel__coaching {
  margin-top: 40vh;
  margin-left: 7vw;
  height: 57vh;
  float: left;
}

.coaching__title {
  font-size: 38px;
  font-weight: bold;
}

.coaching__text {
  font-size: 22px;
  font-weight: lighter;
  line-height: 2rem;
  margin-top: 5vh;
  width: 50vw;
}

.coaching__picture {
  height: 75vh;
  margin-top: 20vh;
  float: right;
}

.header__number {
  font-size: 38px;
  font-weight: bold;
  margin-top: 11vh;
  text-align: center;
  width: 100vw;
}

.numbers {
  width: 100vw;
  height: 24.36vh;
  margin-top: 10vh;
  background-image: url('../../assets/img/background_numbers.png');
  background-size: 100vw 24.36vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.number {
  height: 24.36vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.number__title {
  font-size: 48px;
  font-weight: bolder;
}

.number__text {
  font-size: 20px;
  margin-top: 1vh;
}

.innovation__picture {
  height: 65vh;
  margin-top: 15vh;
}

.innovation {
  margin-top: 18vh;
  float: right;
  text-align: left;
  width: 67vw;
}

.innovation__title {
  font-size: 48px;
  font-weight: bold;
}

.innovation__summary {
  font-size: 16px;
  font-weight: bold;
  color: #0047FC;
  margin-top: 4vh;
}

.innovation__list {
  font-size: 22px;
  font-weight: lighter;
}

.innovation__item {
  margin-top: 7vh;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

/* .innovation__item::before {

} */

.innovation__number {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 8vh;

}

.innovation__total {
  color: #b9b9bb;
}

.innovation__button {
  height: 5vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #0047FC;
  color: #575757;
  float: right;
  margin-right: 7vw;
}

.management__picture {
  height: 65vh;
  margin-top: 15vh;
  float: right;
}

.management {
  margin-top: 24vh;
  text-align: right;
  width: 64vw;
  height: 60vh;
}

.management__title {
  font-size: 48px;
  font-weight: bold;
}

.management__summary {
  font-size: 16px;
  font-weight: bold;
  color: #519898;
  margin-top: 4vh;
}

.management__list {
  font-size: 22px;
  font-weight: lighter;
}

.management__item {
  margin-top: 7vh;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

.management__number {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 8vh;
}

.management__total {
  color: #b9b9bb;
}

.management__button {
  height: 5vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #519898;
  color: #575757;
  float: left;
  margin-left: 7vw;
}

.skills__picture {
  height: 65vh;
  margin-top: 16vh;
}

.skills {
  margin-top: 18vh;
  float: right;
  text-align: left;
  width: 63vw;
}

.skills__title {
  font-size: 48px;
  font-weight: bold;
}

.skills__summary {
  color: #861818;
  font-size: 16px;
  font-weight: bold;
  margin-top: 4vh;
}

.skills__list {
  font-size: 22px;
  font-weight: lighter;
}

.skills__item {
  margin-top: 7vh;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

.skills__number {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 8vh;
}

.skills__total {
  color: #b9b9bb;
}

.skills__button {
  height: 5vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #861818;
  color: #575757;
  float: right;
  margin-right: 7vw;
}

.pedagogie__picture {
  height: 65vh;
  margin-top: 15vh;
  float: right;
}

.pedagogie {
  margin-top: 24vh;
  text-align: right;
  width: 64vw;
  height: 60vh;
}

.pedagogie__title {
  font-size: 48px;
  font-weight: bold;
}

.pedagogie__summary {
  font-size: 16px;
  font-weight: bold;
  color: #DEC666;
  margin-top: 4vh;
}

.pedagogie__list {
  font-size: 22px;
  font-weight: lighter;
}

.pedagogie__item {
  margin-top: 7vh;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

.pedagogie__number {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 8vh;
}

.pedagogie__total {
  color: #b9b9bb;
}

.pedagogie__button {
  height: 5vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #DEC666;
  color: #575757;
  float: left;
  margin-left: 7vw;
}

.enfance__picture {
  height: 65vh;
  margin-top: 16vh;
}

.enfance {
  margin-top: 20vh;
  float: right;
  text-align: left;
  width: 63vw;
}

.enfance__title {
  font-size: 48px;
  font-weight: bold;
}

.enfance__summary {
  color: #D630FF;
  font-size: 16px;
  font-weight: bold;
  margin-top: 4vh;
}

.enfance__list {
  font-size: 22px;
  font-weight: lighter;
}

.enfance__item {
  margin-top: 7vh;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

.enfance__number {
  font-size: 18px;
  font-weight: lighter;
  margin-top: 8vh;
}

.enfance__total {
  color: #b9b9bb;
}

.enfance__button {
  height: 5vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #D630FF;
  color: #575757;
  float: right;
  margin-right: 7vw;
}

.begin {
  width: 100vw;
  height: 32vh;
  background-image: url('../../assets/img/background_blue_arc.png');
  background-size: 100vw 32vh;
  background-repeat: no-repeat;
  margin-top: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.begin__button {
  background-color: white;
  width: 27vw;
  height: 8vh;
  border: solid 2px;
  font-size: 28px;
  font-weight: bolder;
  border-image-source: linear-gradient(160deg, rgb(253, 216, 106), rgb(253, 216, 106), rgb(176, 220, 122), rgb(51, 249, 240), rgb(96, 157, 229), rgb(251, 18, 190), rgb(251, 18, 190));
  border-image-slice: 1;
}

.advice {
  margin-top: 25vh;
  margin-left: 7vw;
  float: left;
}

.advice__title {
  font-size: 38px;
  font-weight: bold;
}

.advice__title {
  font-size: 38px;
  font-weight: bold;
}

.advice__text {
  font-size: 22px;
  font-weight: lighter;
  line-height: 2rem;
  margin-top: 5vh;
  width: 50vw;
}

.advice__picture {
  height: 75vh;
  float: right;
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.puce--left {
  width: 1vw;
  margin-right: 1vw;
}

.puce--right {
  width: 1vw;
  margin-left: 1vw;
}
