@keyframes textAppears {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}


/* button { */
  /* -moz-user-select: none; /* Firefox */
 /* -webkit-user-select: none; /* Chrome, Safari, Opéra */
 /* -ms-user-select: none; /* IE, Edge */
 /* user-select: none;
} */


.header__presentiel {
  width: 100vw;
  height: 90vh;
  background-image: url('../../assets/img/header_presentiel.png');
  background-size: 100vw 90vh;
}

.header__title {
  font-size: 44px;
  font-weight: bolder;
  letter-spacing: .4rem;
  margin-left: 7vw;
  margin-top: 10vh;
  color: white;
}

.header__text {
  margin-left: 7vw;
  font-size: 18px;
  font-style: italic;
  color: white;
  margin-top: 4vh;
  width: 70vw;
  line-height: 2rem;
}

.method__title {
  font-size: 48px;
  font-weight: bolder;
  margin-top: 28vh;
  margin-left: 70vw;
  color: #101D35;
}

.method {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85vw;
  height: 35vh;
  margin-left: 15vw;
}

.analystic__text {
  font-size: 24px;
  font-weight: bold;
  line-height: 3rem;
  width: 40vw;
  height: 25vh;
  padding-top: 6vh;
  background-image: url('../../assets/img/number_one.png');
  background-size: 8vw 25vh;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #152A45;
}

.bubbles {
  display: flex;
  align-items: center;
  width: 40vw;
  height: 25vh;
  color: #152A45;
}

.bubble {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  -moz-box-shadow: 0px 1px 20px #eaeaea;
  -webkit-box-shadow: 0px 1px 20px #eaeaea;
  box-shadow: 0px 1px 20px #eaeaea;
  margin-left: 3vw;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.bubble--active {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #152A45;
  margin-left: 3vw;
  display: flex;
  align-items: center;
  color: white;

}

.bubble__text {
  margin: auto;
}

.anti--float {
  height: 100vh;
}

.presentiel__coaching {
  margin-top: 35vh;
  margin-left: 7vw;
  height: 42vh;
  float: left;
}

.coaching__title {
  font-size: 33px;
  font-weight: bolder;
  color: #152A45;
}

.coaching__text {
  font-size: 18px;
  font-weight: lighter;
  line-height: 2rem;
  margin-top: 5vh;
  width: 55vw;
  color: #8E8B8B;
}

.coaching__picture {
  height: 65vh;
  margin-top: 20vh;
  float: right;
}

.header__number {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  width: 100vw;
  color: #152A45;
}

.numbers {
  width: 100vw;
  height: 24.36vh;
  margin-top: 10vh;
  background-image: url('../../assets/img/background_numbers.png');
  background-size: 100vw 24.36vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.number {
  height: 24.36vh;
  width: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.number__title {
  font-size: 48px;
  font-weight: bolder;
}

.number__text {
  font-size: 20px;
  margin-top: 1vh;
}

.innovation__hover {
  will-change: transform;
  height: 80vh;
}

.innovation__picture {
  height: 55vh;
  margin-top: 12vh;
  transition: .8s ease-in-out;
}

.innovation__picture--hover {
  height: 65vh;
  margin-top: 12vh;
  transition: .8s ease-in-out;
}

.innovation {
  margin-top: 21vh;
  float: right;
  text-align: left;
  width: 68vw;
  transition: .7s ease-in-out;
}

.innovation--hover {
  margin-top: 17vh;
  float: right;
  text-align: left;
  width: 67vw;
  transition: .7s ease-in-out;
}

.innovation__title {
  font-size: 55px;
  font-weight: bold;
  transition: .7s ease-in-out;
  color: #152A45;

}

.innovation__title--hover {
  font-size: 48px;
  font-weight: bold;
  transition: .7s ease-in-out;
}

.innovation__summary {
  font-size: 22px;
  font-weight: bold;
  color: #0047FC;
  margin-top: 4vh;
  transition: .7s ease-in-out;
}

.innovation__summary--hover {
  font-size: 16px;
  font-weight: bold;
  color: #0047FC;
  margin-top: 4vh;
  transition: .7s ease-in-out;
}

.innovation__catchphrase {
  font-size: 1.528vw;
  font-weight: lighter;
  letter-spacing: .2rem;
  transition: .7s ease-in-out;
  margin-top: 8vh;
  animation-duration: .8s;
  animation-name: textAppears;
  color: #141414;
}

.innovation__catchphrase--hover {
  display: none;
  transition: .7s ease-in-out;
}

.innovation__list {
  font-size: 1.528vw;
  font-weight: lighter;
  display: none;
  opacity: 0;
  transition: .7s ease-in-out;
}

.innovation__list--hover {
  font-size: 1.528vw;
  font-weight: lighter;
  display: block;
  opacity: 1;
  transition: .7s ease-in-out;
  animation-duration: .8s;
  animation-name: textAppears;
}

.innovation__item {
  margin-top: 7vh;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
  font-weight: lighter;
  color: #101D35;
}

.innovation__number {
  display: none;
  transition: .7s ease-in-out;
}

.innovation__number--hover {
  font-size: 19px;
  font-weight: lighter;
  margin-top: 8vh;
  transition: .7s ease-in-out;
}

.innovation__total {
  color: #b9b9bb;
}

.innovation__button {
  height: 6vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #0047FC;
  color: #575757;
  float: right;
  margin-right: 56vw;
  margin-top: 8vh;
  transition: .9s ease-in-out;
  animation-duration: .9s;
  animation-name: textAppears;
}

.innovation__button--hover {
  height: 6vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #0047FC;
  float: right;
  color: #575757;
  margin-right: 7vw;
  margin-top: -6vh;
  transition: .9s ease-in-out;
  animation-duration: .9s;
  animation-name: textAppears;
}

.management__hover {
  will-change: transform;
  height: 80vh;
}

.management__picture {
  height: 65vh;
  /* margin-top: 3vh; */
  float: right;
}

.management {
  margin-top: 7vh;
  padding-top: 4vh;
  text-align: right;
  width: 64vw;
  height: 60vh;
}

.management__title {
  font-size: 48px;
  font-weight: bold;
}

.management__summary {
  font-size: 16px;
  font-weight: bold;
  color: #519898;
  margin-top: 4vh;
}

.management__list {
  font-size: 1.528vw;
  font-weight: lighter;
}

.management__item {
  margin-top: 7vh;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
  color: #101D35;
}

.management__number {
  font-size: 19px;
  font-weight: lighter;
  margin-top: 8vh;
}

.management__total {
  color: #b9b9bb;
}

.management__button {
  height: 6vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #519898;
  color: #575757;
  float: left;
  margin-left: 7vw;
  margin-top: -6vh;
}

.skills__hover {
  will-change: transform;
  height: 80vh;
}

.skills__picture {
  height: 65vh;
}

.skills {
  margin-top: 5vh;
  float: right;
  text-align: left;
  width: 63vw;
}

.skills__title {
  font-size: 48px;
  font-weight: bold;
}

.skills__summary {
  color: #861818;
  font-size: 16px;
  font-weight: bold;
  margin-top: 4vh;
}

.skills__list {
  font-size: 1.528vw;
  font-weight: lighter;
}

.skills__item {
  margin-top: 7vh;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

.skills__number {
  font-size: 19px;
  font-weight: lighter;
  margin-top: 8vh;
}

.skills__total {
  color: #b9b9bb;
}

.skills__button {
  height: 6vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #861818;
  color: #575757;
  float: right;
  margin-right: 7vw;
  margin-top: -6vh;
}

.pedagogie__hover {
  will-change: transform;
  height: 80vh;
}

.pedagogie__picture {
  height: 65vh;
  float: right;
}

.pedagogie {
  margin-top: 5vh;
  text-align: right;
  width: 64vw;
  height: 60vh;
  float: left;
}

.pedagogie__title {
  font-size: 48px;
  font-weight: bold;
}

.pedagogie__summary {
  font-size: 16px;
  font-weight: bold;
  color: #DEC666;
  margin-top: 4vh;
}

.pedagogie__list {
  font-size: 1.528vw;
  font-weight: lighter;
}

.pedagogie__item {
  margin-top: 7vh;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

.pedagogie__number {
  font-size: 19px;
  font-weight: lighter;
  margin-top: 8vh;
}

.pedagogie__total {
  color: #b9b9bb;
}

.pedagogie__button {
  height: 6vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #DEC666;
  color: #575757;
  float: left;
  margin-left: 7vw;
  margin-top: -6vh;
}

.enfance__hover {
  will-change: transform;
  height: 80vh;
}

.enfance__picture {
  height: 65vh;
  float: left;
}

.enfance {
  float: right;
  text-align: left;
  width: 63vw;
}

.enfance__title {
  font-size: 48px;
  font-weight: bold;
}

.enfance__summary {
  color: #D630FF;
  font-size: 16px;
  font-weight: bold;
  margin-top: 4vh;
}

.enfance__list {
  font-size: 1.528vw;
  font-weight: lighter;
}

.enfance__item {
  margin-top: 7vh;
  word-spacing: 0.2rem;
  letter-spacing: 0.1rem;
}

.enfance__number {
  font-size: 19px;
  font-weight: lighter;
  margin-top: 8vh;
}

.enfance__total {
  color: #b9b9bb;
}

.enfance__button {
  height: 6vh;
  width: 12vw;
  font-size: 18px;
  font-weight: lighter;
  border: solid 2px #D630FF;
  color: #575757;
  float: right;
  margin-right: 7vw;
  margin-top: -6vh;
}

.begin {
  width: 100vw;
  height: 32vh;
  background-image: url('../../assets/img/background_blue_arc.png');
  background-size: 100vw 32vh;
  background-repeat: no-repeat;
  margin-top: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.begin__button {
  background-color: white;
  width: 27vw;
  height: 8vh;
  border: solid 2px;
  font-size: 28px;
  font-weight: bolder;
  border-image-source: linear-gradient(160deg, rgb(253, 216, 106), rgb(253, 216, 106), rgb(176, 220, 122), rgb(51, 249, 240), rgb(96, 157, 229), rgb(251, 18, 190), rgb(251, 18, 190));
  border-image-slice: 1;
  color: #575757;
}

.advice {
  margin-top: 25vh;
  margin-left: 7vw;
  float: left;
}

.advice__title {
  font-size: 38px;
  font-weight: bold;
}

.advice__title {
  font-size: 33px;
  font-weight: bolder;
  color: #152A45;
}

.advice__text {
  font-size: 18px;
  font-weight: lighter;
  line-height: 2rem;
  color: #8E8B8B;
  margin-top: 5vh;
  width: 50vw;
}

.advice__picture {
  height: 65vh;
  float: right;
  margin-top: 10vh;
  margin-bottom: 15vh;
}

.puce--left {
  width: 0.7vw;
  margin-right: 2.6vw;
}

.puce--right {
  width: 0.7vw;
  margin-left: 2.6vw;
}
